<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p class="has-text-align-left has-text-color" style="font-size:59px;color:#24135f"><strong>Welcome to user support</strong></p>
<div class="wp-block-buttons"><!-- wp:button {"style":{"color":{"text":"#99e1d9","background":"#24135f"}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-text-color has-background" style="background-color:#24135f;color:#99e1d9">Learn more</a></div>
<!-- /wp:button --></div>
</body>
</html>